services:

  app:
    container_name: app
    hostname: app
    restart: always
    build:
      context: ./
      target: development
    env_file: ".env"
    ports:
      - 8000:8000
    networks:
      - net

networks:
  net:
